<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>

<h1>Login</h1>

<div class="card">
  <input id="email" placeholder="Email"><br><br>
  <input id="password" type="password" placeholder="Password"><br><br>
  <button onclick="login()">Login</button>
</div>

<script>
async function login() {
  const res = await fetch("/client/login", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      email: email.value,
      password: password.value
    })
  });

  const data = await res.json();
  if (data.success) {
    localStorage.setItem("client_id", data.client_id);
    window.location.href = "/dashboard";
  } else {
    alert("Invalid login");
  }
}
</script>

</body>
</html>
