<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h2>Create Account</h2>

  <input id="name" placeholder="Business name"><br><br>
  <input id="email" placeholder="Email"><br><br>
  <input id="password" type="password" placeholder="Password"><br><br>

  <button onclick="signup()">Sign Up</button>
  <p id="msg"></p>

  <script>
    function signup() {
      fetch("/client/signup", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({
          name: name.value,
          email: email.value,
          password: password.value
        })
      })
      .then(r => r.json())
      .then(d => {
        localStorage.setItem("client_id", d.client_id);
        window.location.href = "/dashboard";
      });
    }
  </script>
</body>
</html>
